<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="templateMapping" class="com.zz.opensdk.service.TemplateMapping">

		<property name="cToSExecuteTemplate">
			<map>
				<!--测试模板-->
				<entry key="test"  value-ref="templateService" />

            </map>
		</property>
	</bean>
</beans>